<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Malate Decrypt Game</title>

        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/malate.css">

        <script src="../js/jquery-3-3-1.js" type="text/javascript"></script>

        {{!-- <script src="../js/animation.js" type="text/javascript"></script> --}}
        <script src="../js/ajax.js" type="text/javascript"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
        

    
    <body class="bg-black ">
        <div = "container-fluid">
            
            <div class="fc-white  text-center chiller fs120">
                Malate Decrypt
            </div>

            <div class ="text-center">
                
            </div>
            
            <div class="container-fluid">
                <div class="row align-items-center ">

                    

                    <div class="col-8 center-block text-left">
                        <h1 class = "fc-red comicsans text-left" >Puzzle #1</h1>
                        <h1 class = "fc-yellow comicsans text-left" >Cryptogram</h1>
                        <p class = "fc-green comicsans text-left" ><span style="font-size:xx-large;">Key:</span> FWUPJXG EWJF ZWX UWZFPFX WS PZEPIPECKRF, MCX JAHVJFFJF XQJ FCO WS PZXJVVJRKXPWZF, XQJ VJRKXPWZF NPXQPZ NQPUQ XQJFJ PZEPIPECKRF FXKZE. -TKVR OKVA</p>
                        <p class = "fc-orange comicsans" style = "font-size: 20px;"><span style="font-size:xx-large;">Description: </span>81 32 40 &nbsp;	40 51 86 32 12 24	&nbsp; 08 114 01 110 12 55	&nbsp; 120 120 120 	</p>
                        <p class = "comicsans" style = "font-size: 20px; background-color:yellow; width: 300px"><span style="font-size:xx-large;">Hint: </span> F->S, Z->N, V->R </p>
                        <form >
                            <label class="comicsans fc-white">Passcode</label>
                            <input type="text" name = "p1" id="p1" style="width:400px">
                            <button type="button" id="btn1" >Enter</button> <span class = "fc-white"> <--- press this button bc pressing enter on the keyboard doesnt work sorry HAHA </span>
                        </form>

                        <h2 class = "fc-red comicsans err" ></h2>
                        
                    </div>

                    <div class="col-8 center-block text-center">
                    </div>

                </div>
            </div>
            
            
           

        </div>
        
    </body>


</html>